@import url("./node_modules/codemirror/lib/codemirror.css");
@import url("./node_modules/codemirror/theme/blackboard.css");
@import url("./node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("./node_modules/@fortawesome/fontawesome-free/css/brands.min.css");

/* VARIABLES */
:root {
  --main-success-color: #27873c;
  --main-error-color: #c62637;
}

.form-wrapper {
  height: calc(100% - 30px);
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 86px 1fr;
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

#editor {
  width: 49vw;
  height: 100%;
}

#results {
}

footer {
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: underline;
}

.CodeMirror {
  width: 49vw !important;
  height: 98%;
}

.CodeMirror-scroll {
  height: 98%;
}

form {
  padding-top: calc(50% - 69px);
}

form.validated {
  padding-top: 10px;
  transition: padding-top 0.5s;
}

#stacVersions {
  height: 150%;
  width: 110%;
  position: relative;
  bottom: 25%;
  right: 5%;
}

button i {
  margin-right: 5px;
}

#stacUrl:invalid {
  border: 2px solid var(--main-error-color);
  background: #ffd3d3;
}

.validation-alert {
  background-color: #fff;
  min-height: 50px;
  border: 2px solid black;
  padding: 10px;
  font-size: 1.2em;
  display: block;
  margin-bottom: 15px;
}

.validation-success {
  border-color: var(--main-success-color);
}

.validation-error {
  border-color: var(--main-error-color);
}
.validation-error i {
  color: var(--main-error-color);
}

.validation-success i {
  color: var(--main-success-color);
}
