@import url("./node_modules/codemirror/lib/codemirror.css");
@import url("./node_modules/codemirror/theme/darcula.css");
@import url("./node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./node_modules/@fortawesome/fontawesome-free/css/all.min.css");

.panel {
  padding-left: 0px;
}

#editor {
  width: 100%;
  height: 100%;
}
#results {
  width: 100%;
}

.CodeMirror {
  height: 100%;
}

form {
  padding-top: calc(50% - 69px);
}

form.validated {
  padding-top: 10px;
  transition: padding-top 0.5s;
}

button i {
  margin-right: 5px;
}

#stacUrl:invalid {
  border: 2px solid red;
  background: #ffd3d3
}

.validation-alert {
  background-color:#fff;
  min-height: 50px;
  border: 2px solid black;
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.validation-success {
  border-color: #27873C;
}

.validation-error {
  border-color: #C62637;
}
.validation-error i {
  color: #C62637;
}

.validation-success i {
  color: #27873C;
}
